<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Communication Plan</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="communication_plan">
<meta name="uma.presentationName" content="Communication Plan">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_h6Hd0G6cEd-ylqwPC08wUA"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Communication Plan</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This template defines the structure of a communication plan to ensure information is effectively and efficiently communicated to all stakeholders and business partners.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.bus.common.base-ibm/workproducts/adoption_plan_4B4334E9.html" guid="{A106554F-3BDA-418D-A1F8-026AE2647AD8}">Adoption Plan</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    The following categories reflect a recommended communication plan structure to define key communication elements.
</p>
<ul>
    <li>
        Meeting – the regularly scheduled time at which communication included in this document occurs.
    </li>
    <li>
        Communication Item – the specific deliverable to be used for communication.
    </li>
    <li>
        Content Description - explanation of communication component and the content of the component.
    </li>
    <li>
        Purpose – the goal of communication item.
    </li>
    <li>
        Frequency - Number of times per period that the communication component should be delivered.
    </li>
    <li>
        Media - The physical form the information is communicated.
    </li>
    <li>
        Audience/Attendees - An individual or a group of people who the communication is targeted/distributed.
    </li>
    <li>
        Responsibility - A person or people who are responsible for establishing the meeting or for formatting,
        communicating and distributing the communication item.
    </li>
    <li>
        Required Approval – Approval requirement of the indicated item required prior to publication or execution?
    </li>
</ul>
<p>
    The plan is typically presented in simple table format.
</p><br />
<br />
<br />
<br />
<table title="" border="1" cellspacing="0" cellpadding="2" width="85%">
    <tbody>
        <tr>
            <th abbr="" scope="col">
                Communication<br />
                Item
            </th>
            <th abbr="" scope="col">
                Content<br />
                Description
            </th>
            <th abbr="" scope="col">
                Purpose
            </th>
            <th abbr="" scope="col">
                Frequency
            </th>
            <th abbr="" scope="col">
                Media
            </th>
            <th abbr="" scope="col">
                Audience/<br />
                Attendees
            </th>
            <th abbr="" scope="col">
                Responsibility
            </th>
            <th abbr="" scope="col">
                <p>
                    Required<br />
                    Approval
                </p>
            </th>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <br />
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table><br />
<br /></td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"><p>
    Licensed Materials - Property of IBM<br />
    &copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2011.&nbsp; All Rights Reserved.
</p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
