<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Tool Comparison</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="tool_comparison">
<meta name="uma.presentationName" content="Tool Comparison">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_dJfcEKbyEd-VVeY9V5Zf-g"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Tool Comparison</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This template provides a simple tabular format for comparing tool features.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../practice.bus.sw_cap_prog_mgmt.base-ibm/workproducts/devorg_assessment_657D7D1E.html" guid="{3D77E5C1-1FA3-4F5B-B9BE-014EE03CF264}">Development Organization Assessment</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><h4>
    Compare Features and Functions
</h4>
<p>
    Using the list of features and functions, decide how important each feature or function is for you. The following
    ranking can be used:
</p>
<ul>
    <li>
        '<b>Must</b>'. The tool must have this feature.
    </li>
    <li>
        '<b>Nice</b>'. The feature would be nice to have, but it is not critical.
    </li>
    <li>
        '<b>Not required</b>'. It does not matter whether to tool has the feature or not.&nbsp;
    </li>
</ul>
<p>
    Indicate for each tool whether it has the feature or not using the following symbols:
</p>
<div align="center">
    <table     style="BORDER-RIGHT: rgb(128,128,128) 1px solid; BORDER-TOP: rgb(128,128,128) 1px solid; BORDER-LEFT: rgb(128,128,128) 1px solid; BORDER-BOTTOM: rgb(128,128,128) 1px solid"      cellspacing="0" bordercolordark="#808080" cellpadding="4" width="20%" bordercolorlight="#808080" border="1">
        <tbody>
            <tr>
                <th>
                    <p class="tableheading">
                        Symbol&nbsp;&nbsp;
                    </p>
                </th>
                <th>
                    <p class="tableheading">
                        Description&nbsp;
                    </p>
                </th>
            </tr>
            <tr>
                <td>
                    +&nbsp;
                </td>
                <td>
                    has the feature&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    -&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    lacks the feature&nbsp;
                </td>
            </tr>
        </tbody>
    </table><br />
</div>
<p>
    Document all features and functions in a table, and rank how important they are. Indicate for each tool, whether it has
    the feature or not. The table below is a fraction of a comparison between three configuration management tools.&nbsp;
</p>
<div align="center">
    <table     style="BORDER-RIGHT: rgb(128,128,128) 1px solid; BORDER-TOP: rgb(128,128,128) 1px solid; BORDER-LEFT: rgb(128,128,128) 1px solid; BORDER-BOTTOM: rgb(128,128,128) 1px solid"      cellspacing="0" bordercolordark="#808080" cellpadding="4" width="100%" bordercolorlight="#808080" border="1">
        <tbody>
            <tr>
                <th id="col1" align="left" width="40%">
                    <p class="tableheading">
                        Features & Functions&nbsp;
                    </p>
                </th>
                <th id="col2" width="15%">
                    <p class="tableheading">
                        Rank&nbsp;
                    </p>
                </th>
                <th id="col3" width="15%">
                    <p class="tableheading">
                        Tool 1&nbsp;
                    </p>
                </th>
                <th id="col4" width="15%">
                    <p class="tableheading">
                        Tool 2&nbsp;
                    </p>
                </th>
                <th id="col5" width="15%">
                    <p class="tableheading">
                        Tool 3&nbsp;
                    </p>
                </th>
            </tr>
            <tr>
                <th id="row2" align="left" headers="col1" width="40%">
                    Versions all file system objects&nbsp;
                </th>
                <td headers="row2 col2" width="15%">
                    Must&nbsp;
                </td>
                <td headers="row2 col3" width="15%">
                    +&nbsp;
                </td>
                <td headers="row2 col4" width="15%">
                    +&nbsp;
                </td>
                <td headers="row2 col5" width="15%">
                    -&nbsp;
                </td>
            </tr>
            <tr>
                <th id="row3" align="left" headers="col1" width="40%">
                    Versions directories&nbsp;
                </th>
                <td headers="row3 col2" width="15%">
                    Must&nbsp;
                </td>
                <td headers="row3 col3" width="15%">
                    +&nbsp;
                </td>
                <td headers="row3 col4" width="15%">
                    +&nbsp;
                </td>
                <td headers="row3 col5" width="15%">
                    +&nbsp;
                </td>
            </tr>
            <tr>
                <th id="row4" align="left" headers="col1" width="40%">
                    Mixing of file types&nbsp;
                </th>
                <td headers="row4 col2" width="15%">
                    Must&nbsp;
                </td>
                <td headers="row4 col3" width="15%">
                    +&nbsp;
                </td>
                <td headers="row4 col4" width="15%">
                    +&nbsp;
                </td>
                <td headers="row4 col5" width="15%">
                    +&nbsp;
                </td>
            </tr>
            <tr>
                <th id="row5" align="left" headers="col1" width="40%">
                    Compresses text and binaries&nbsp;
                </th>
                <td headers="row5 col2" width="15%">
                    Nice&nbsp;
                </td>
                <td headers="row5 col3" width="15%">
                    +&nbsp;
                </td>
                <td headers="row5 col4" width="15%">
                    -&nbsp;
                </td>
                <td headers="row5 col5" width="15%">
                    -&nbsp;
                </td>
            </tr>
            <tr>
                <td id="row6" headers="col1" width="40%">
                    ...&nbsp;
                </td>
                <td headers="row6 col2" width="15%">
                    ...&nbsp;
                </td>
                <td headers="row6 col3" width="15%">
                    ...&nbsp;
                </td>
                <td headers="row6 col4" width="15%">
                    ...&nbsp;
                </td>
                <td headers="row6 col5" width="15%">
                    ...&nbsp;
                </td>
            </tr>
        </tbody>
    </table><br />
</div>
<h4>
    Compare Tool and Vendors Criteria
</h4>
<p>
    You need to compare the tools in all other factors, except the features. To get an overview of the tools, we recommend
    that you document the overview in a table, such as the table below. Briefly describe your needs and constraints for
    each factor. Give each factor a weight to indicate how important this factor is to you. For example, use a scale from 1
    to 5, where 5 means that the factor is very important.&nbsp;
</p>
<p>
    Grade each tool (and vendor) in the following criteria. You can use a scale from 1 to 5:
</p>
<ol>
    <li>
        Useless in this area
    </li>
    <li>
        Weak or has some serious shortcomings.&nbsp;
    </li>
    <li>
        Adequate in this area.
    </li>
    <li>
        Better than average in this area.&nbsp;
    </li>
    <li>
        Excellent in this area.
    </li>
</ol>
<p>
    Document the comparison in a table such as the following table.&nbsp;
</p>
<div align="center">
    <table     style="BORDER-RIGHT: rgb(128,128,128) 1px solid; BORDER-TOP: rgb(128,128,128) 1px solid; BORDER-LEFT: rgb(128,128,128) 1px solid; BORDER-BOTTOM: rgb(128,128,128) 1px solid"      cellspacing="0" bordercolordark="#808080" cellpadding="4" width="100%" bordercolorlight="#808080" border="1">
        <tbody>
            <tr>
                <th width="25%">
                    <p class="tableheading">
                        Tool Criteria&nbsp;
                    </p>
                </th>
                <th width="19%">
                    <p class="tableheading">
                        Comments&nbsp;
                    </p>
                </th>
                <th width="19%">
                    <p class="tableheading">
                        Tool 1&nbsp;&nbsp;
                    </p>
                </th>
                <th width="19%">
                    <p class="tableheading">
                        Tool 2&nbsp;
                    </p>
                </th>
                <th width="18%">
                    <p class="tableheading">
                        Tool 3&nbsp;
                    </p>
                </th>
            </tr>
            <tr>
                <td width="25%">
                    Features &&nbsp;<br />
                    Functions&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Integration&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Applicability&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Extendibility&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Team support&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Usability&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Quality&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Performance&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Maturity&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    <p class="tableheading">
                        Vendor Criteria&nbsp;
                    </p>
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Stability&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Support availability&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Training availability&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Growth direction&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
        </tbody>
    </table><br />
</div>
<h4>
    Compare Cost
</h4>
<p>
    Compare the cost of each tool and document it in a table, such as below. Grade each cost as 'Low', 'Medium' or
    'High'.&nbsp;
</p>
<div align="center">
    <table     style="BORDER-RIGHT: rgb(128,128,128) 1px solid; BORDER-TOP: rgb(128,128,128) 1px solid; BORDER-LEFT: rgb(128,128,128) 1px solid; BORDER-BOTTOM: rgb(128,128,128) 1px solid"      cellspacing="0" bordercolordark="#808080" cellpadding="4" width="100%" bordercolorlight="#808080" border="1">
        <tbody>
            <tr>
                <th width="25%">
                    <p class="tableheading">
                        Cost&nbsp;
                    </p>
                </th>
                <th width="19%">
                    <p class="tableheading">
                        Comments&nbsp;
                    </p>
                </th>
                <th width="19%">
                    <p class="tableheading">
                        Tool 1&nbsp;&nbsp;
                    </p>
                </th>
                <th width="19%">
                    <p class="tableheading">
                        Tool 2&nbsp;
                    </p>
                </th>
                <th width="18%">
                    <p class="tableheading">
                        Tool 3&nbsp;
                    </p>
                </th>
            </tr>
            <tr>
                <td width="25%">
                    Acquisition cost&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Implementation cost&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td width="25%">
                    Maintenance cost&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="19%">
                    &nbsp;&nbsp;
                </td>
                <td width="18%">
                    &nbsp;&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div></td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"><p>
    Licensed Materials - Property of IBM<br />
    &copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2011.&nbsp; All Rights Reserved.
</p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
