<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Tool Information</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="tool_information">
<meta name="uma.presentationName" content="Tool Information">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_jgjhQKbxEd-VVeY9V5Zf-g"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Tool Information</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This template provides a simple tabular format for collecting information about tools under consideration to support an organization's software development capabilities.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../practice.bus.sw_cap_prog_mgmt.base-ibm/workproducts/devorg_assessment_657D7D1E.html" guid="{3D77E5C1-1FA3-4F5B-B9BE-014EE03CF264}">Development Organization Assessment</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><h4>
    Tool Features and Functions
</h4>
<p>
    Create a list of features and functions for the type of tool you are studying. In most cases the tool vendors provide
    such lists.&nbsp;The table below shows a fraction of a list for configuration management tools.&nbsp;&nbsp;
</p>
<div align="center">
    <table     style="BORDER-RIGHT: rgb(128,128,128) 1px solid; BORDER-TOP: rgb(128,128,128) 1px solid; BORDER-LEFT: rgb(128,128,128) 1px solid; BORDER-BOTTOM: rgb(128,128,128) 1px solid"      cellspacing="0" bordercolordark="#808080" cellpadding="4" width="50%" bordercolorlight="#808080" border="1">
        <tbody>
            <tr>
                <td>
                    <p class="tableheading">
                        Features & Functions&nbsp;
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    Versions all file system objects&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    Versions directories&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    Mixing of file types&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    Compresses text and binaries&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    ...&nbsp;
                </td>
            </tr>
        </tbody>
    </table><br />
</div>
<h4>
    Tool and Vendor Criteria
</h4>
<p>
    Collect information about each tool for the following criteria.&nbsp;
</p>
<div align="center">
    <table     style="BORDER-RIGHT: rgb(128,128,128) 1px solid; BORDER-TOP: rgb(128,128,128) 1px solid; BORDER-LEFT: rgb(128,128,128) 1px solid; BORDER-BOTTOM: rgb(128,128,128) 1px solid"      cellspacing="0" bordercolordark="#808080" cellpadding="4" width="100%" bordercolorlight="#808080" border="1">
        <tbody>
            <tr>
                <th scope="row" align="left" width="15%">
                    <p class="tableheading">
                        Tool<br />
                        Criteria&nbsp;
                    </p>
                </th>
                <td width="85%">
                    <p class="tableheading">
                        Comments&nbsp;
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Features&nbsp; &<br />
                    Functions&nbsp;
                </th>
                <td width="85%">
                    The functionality that tool provides. This should be the overall conclusion of the 'Tool Features'
                    table.&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Integration&nbsp;
                </th>
                <td width="85%">
                    The level of integration with other tools. How is information transferred between different tools? How
                    well does the tool fit with your existing tools, and other tools that you are evaluating.&nbsp;Level of
                    integration is often more important that features. Well integrated tools are more likely to be easier
                    to use and maintain.&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Applicability&nbsp;
                </th>
                <td width="85%">
                    <p>
                        How well the tool support your delivery process.&nbsp;Do you have to change the way you work in
                        order to use the tool? Can you accept the trade-offs?&nbsp;Lack of applicability means that you may
                        have to change the way you work, "design-to-tools". But, this may be worth considering if the tool
                        has other strengths.
                    </p>&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Extendibility&nbsp;
                </th>
                <td width="85%">
                    The ability to extend and customize the tool.&nbsp;Extendibility, is good since it means that you can
                    adapt the tool to your needs. However, make sure that it doesn't take too long time to configure the
                    tool, to make it&nbsp; work.&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Team support&nbsp;
                </th>
                <td width="85%">
                    The ability to support a team of users. Does the tool support a team that is geographically
                    distributed?&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Usability&nbsp;
                </th>
                <td width="85%">
                    The ease of learning and using the tool. Focus on the most common ways to use the tool. How long time
                    does it take to be productive using the tool? Is the tool suitable for people who will use it
                    infrequently? Be sure to look at the most commonly used functions. The fact that some rarely used
                    function is difficult to use, can often be ignored.&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Quality&nbsp;
                </th>
                <td width="85%">
                    Depending on the kind of tool, the quality of the tool will determine the quality of the product you
                    are building. Quality is important, especially when if have direct impact on the product&nbsp; you
                    develop. For example, a compiler that produces slow code, or an HTML editor that produce bad
                    HTML.&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Performance&nbsp;
                </th>
                <td width="85%">
                    The total effectiveness of the tool, including capacity, accessibility, and response times. Bad
                    performance may be acceptable if it affect functions or capabilities that are seldom used.&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Maturity&nbsp;
                </th>
                <td width="85%">
                    The tool's level of maturity. Some organizations would not buy a version 1 of a tool from a new vendor,
                    regardless of how good the tool is supposed to be.&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    <p class="tableheading">
                        Vendor<br />
                        Criteria&nbsp;
                    </p>
                </th>
                <td width="85%">
                    <p class="tableheading">
                        Comments&nbsp;
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Stability&nbsp;
                </th>
                <td width="85%">
                    You risk your future on the future the vendor. How long has the company been in business? How stable is
                    the company? Are they investing in the tool? Is the tool in the main line for the company, or is it a
                    sideline?&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Support availability&nbsp;
                </th>
                <td width="85%">
                    What support is available from the vendor, and/or potential partners? You may need help to install and
                    configure the tool, and continuous support for the users.&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Training availability&nbsp;
                </th>
                <td width="85%">
                    What training is available from the vendor, and/or potential partners?&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Growth direction&nbsp;
                </th>
                <td width="85%">
                    How well the tool supports the direction where your development is going. Consider what direction your
                    development is going. Will the tool support that direction, and other direction that you may want to
                    go?&nbsp;&nbsp;
                </td>
            </tr>
        </tbody>
    </table><br />
</div>
<h4>
    Cost
</h4>
<p>
    The costs associated with acquiring and owning the tool, includes acquisition costs, implementation costs and
    maintenance costs. Decide how many users you have and for how long period of time, you want to calculate the
    cost.&nbsp;
</p>
<div align="center">
    <table     style="BORDER-RIGHT: rgb(128,128,128) 1px solid; BORDER-TOP: rgb(128,128,128) 1px solid; BORDER-LEFT: rgb(128,128,128) 1px solid; BORDER-BOTTOM: rgb(128,128,128) 1px solid"      cellspacing="0" bordercolordark="#808080" cellpadding="4" width="100%" bordercolorlight="#808080" border="1">
        <tbody>
            <tr>
                <th scope="row" align="left" width="15%">
                    <p class="tableheading">
                        Cost
                    </p>&nbsp;
                </th>
                <td width="85%">
                    <p class="tableheading">
                        Comment&nbsp;
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Acquisition cost&nbsp;
                </th>
                <td width="85%">
                    The cost to purchase the tool.&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Implementation cost&nbsp;
                </th>
                <td width="85%">
                    The cost to have the tool installed and integrated with your existing development environment. This
                    includes cost of training the users of the tool, both the users and people that will administer the
                    tool.&nbsp;
                </td>
            </tr>
            <tr>
                <th scope="row" align="left" width="15%">
                    Maintenance cost&nbsp;
                </th>
                <td width="85%">
                    The on-going cost to make sure that the tool work and is used. This includes both the cost to
                    administer the tool, to handle upgrades, and the on-going training cost for both the people that
                    administer the tool, and the users of the tool.&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div></td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"><p>
    Licensed Materials - Property of IBM<br />
    &copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2011.&nbsp; All Rights Reserved.
</p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
